.breadcrumbs {
	padding-top: 30px;

	a {
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #117aca;
		text-decoration: underline;
	}
}