/* Add your custom CSS below */

#mktoStyleLoaded {
  /* css load detection, do not remove */
  color:#123456;
}

.mktoForm .mktoOffset {
	display: none !important;
}

 form.mktoForm {
	width: 100% !important;
  	max-width: 100% !important;
}

span.mktoButtonWrap {
	margin: 0 !important;
}

/* Remove Default Form Styling */

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm select.mktoField,
.mktoForm textarea.mktoField {
    border-bottom: 0px !important;
    border-left: 0px !important;
    border-radius: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    box-shadow: none !important;
    width: 100% !important;
}

.mktoForm .mktoFormCol,
.mktoForm .mktoFieldWrap {
	float: none !important;
}

.mktoButtonRow {
	text-align: center !important;
	width: 100% !important;
}

.mktoButtonRow .mktoButtonWrap .mktoButton {
	font-family: 'Roboto', sans-serif !important;
	background-image: none !important;
    background: #30726A !important;
    text-transform: uppercase;
    font-size: 20px !important;
    color: #FFFFFF;
    letter-spacing: 0 !important;
    font-weight: 500 !important;
    border-radius: 0px !important;
    width: auto !important;
}





/* Homepage Contact Form Styling */

.home-form .mktoForm .mktoFormRow {
	width: 45% !important;
	clear: none !important;
}


/* Start 2 Columns Form Style -- nth-child(6) = Comment Field */
.home-form .mktoForm .mktoFormRow:nth-child(even) {
	float: left !important;
}

.home-form .mktoForm .mktoFormRow:nth-child(odd) {
	float: right !important;
}


.home-form .mktoForm .mktoFormRow:nth-child(6) {
	width: 100% !important;
}

.home-form .mktoForm .mktoFormCol {
	float: none;
	width: 100%;
  	margin-bottom: 20px !important;
}


/* End 2 Columns Form Style -- nth-child(6) = Comment Field */

.home-form .mktoForm .mktoFieldWrap {
	width: 100%;
    float: none;
}

.home-form .mktoForm .mktoLabel {
 	display: block;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #000000;
    letter-spacing: 0.46px;
}

.home-form .mktoForm input[type=text],
.home-form .mktoForm input[type=url],
.home-form .mktoForm input[type=email],
.home-form .mktoForm input[type=tel],
.home-form .mktoForm input[type=number],
.home-form .mktoForm input[type=date],
.home-form .mktoForm select.mktoField,
.home-form .mktoForm textarea.mktoField {
    border-bottom: 1px solid #979797 !important;
    border-left: 0px !important;
    border-radius: 0px !important;
    border-right: 0px !important;
    border-top: 0px !important;
    box-shadow: none !important;
    width: 100% !important;
}


.home-form .mktoForm textarea.mktoField {
	min-height: 100px !important;
 }
 

.home-form .mktoButtonRow .mktoButtonWrap .mktoButton {
	background-color: #3A6478 !important;
    border-radius: 7px !important;
    padding: 15px 90px !important;
    margin: 15px auto 100px auto;
}


/* Sidebar Form Styling */

.sidebar-form .mktoForm input[type=text],
.sidebar-form .mktoForm input[type=url],
.sidebar-form .mktoForm input[type=email],
.sidebar-form .mktoForm input[type=tel],
.sidebar-form .mktoForm input[type=number],
.sidebar-form .mktoForm input[type=date],
.sidebar-form .mktoForm select.mktoField,
.sidebar-form .mktoForm textarea.mktoField {
    border: 1px solid #979797 !important;
}

.sidebar-form .mktoForm textarea.mktoField {
    min-height: 172px !important;
}

.sidebar-form .mktoButtonRow .mktoButtonWrap .mktoButton {
	margin-top: 10px !important;
    width: 100% !important;
}


/* Blog Subscription Form */

.email-subscribers-wrapper .mktoForm .mktoLabel {
	display: none !important;
}

.email-subscribers-wrapper .mktoForm input[type=text],
.email-subscribers-wrapper .mktoForm input[type=email] {
	background: #eee !important;
    color: #999 !important;
    display: block;
    margin: 0 !important;
    padding: 18px;
    width: 100%;
    height: auto !important;
    font-size: 16px !important;
}

.email-subscribers-wrapper  .mktoButtonRow .mktoButtonWrap .mktoButton {
    padding: 18px 0px !important;
    background: none !important;
    border: 2px solid #00746b !important;
    color: #00746b !important;
    transition: background .2s;
    width: 100% !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}

.email-subscribers-wrapper  .mktoButtonRow .mktoButtonWrap .mktoButton:hover {
    background: #00746b !important;
    color: #fff !important;
}

.email-subscribers-wrapper .mktoForm input::-webkit-input-placeholder { 
	color: #A0A0A0 !important;
	text-transform: capitalize !important;
}

.email-subscribers-wrapper .mktoForm input::-moz-placeholder { 
	color: #A0A0A0 !important;
	text-transform: capitalize !important;
}


/* Free Consultation Form */


.email-subscribers-wrapper .mktoForm input[type=text],
.email-subscribers-wrapper .mktoForm input[type=email] {
	background: #eee !important;
    color: #999 !important;
    display: block;
    margin: 0 !important;
    padding: 18px;
    width: 100%;
    height: auto !important;
    font-size: 16px !important;
}

.form-free {
	padding: 30px;
	border-radius: 5px !important;
}

.form-free .mktoForm input,
.form-free .mktoForm select,
.form-free .mktoForm textarea {
	border-radius: 2px !important;
	margin-bottom: 10px !important;
}

.form-free #commentCapture {
	min-height: 150px;
}

.form-free .mktoButtonRow .mktoButtonWrap .mktoButton {
    border: 2px solid #00746b !important;
    font-weight: 400 !important;
    font-size: 16px !important;
	font-weight: 400 !important;
    margin-top: 14px;
    width: 280px !important;
    background: -webkit-linear-gradient(#e6bf30 0%, #ce8118 100%) !important;
    background: -o-linear-gradient(#e6bf30 0%, #ce8118 100%) !important ;
    background: linear-gradient(#e6bf30 0%, #ce8118 100%) !important;
    color: #ba6405 !important;
    border-radius: 5px !important;
    text-shadow: none !important;
}

@media only screen and (max-width: 600px) {
	.form-free .mktoButtonRow .mktoButtonWrap .mktoButton {
	
	    width: 100% !important;
	
	}
}




